[submodule "packages/core"]
	path = packages/core
	url = ./packages/core
[submodule "packages/ui"]
	path = packages/ui
	url = ./packages/ui
[submodule "apps/mobile"]
	path = apps/mobile
	url = ./apps/mobile
